@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
    --main-bg-color: #2874f0;;
  }
header{
    background-color: var(--main-bg-color);
    height: 50px;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
    padding: 0px 7px;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
nav ul li{
    list-style: none;
    padding: 0px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}
nav ul li a:hover{
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 460px;
    height: 28px;
    border-radius: 6px;
    margin: 0px 30px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    padding: 0px 8px;
}
.btn{
    margin: 12px -17px;
    background-color: var(--main-bg-color);
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    width: 56px;
    font-weight: normal;
    cursor: pointer;
}
.btn:hover{
    font-weight: bold;
}
.container{
    min-height: calc(100vh - 50px - 40px);
    text-align: center;
}
.container img{
    height: 50vh;
    width: 1200px;
    padding-top: 10px;
}

.p-deal{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 28px;
padding-top: 10px;
display: inline-block;
border-radius: 25px;
color: var(--main-bg-color);
margin: 4px 90px;
cursor: pointer;
}
.p-deal:hover{
    color: var(--main-bg-color);
}
.p-grid{
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}
.p-grid:hover{
    font-weight: bolder;
    font-size: 30px;
    color: var(--main-bg-color);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px 46px;
    margin:0px 40px;
    overflow: hidden;
    /* border: 2px solid red; */
    /* background-color: rgb(217, 217, 219); */
    margin-top: -190px;
    margin-bottom: 195px;
    height: 275px;
    overflow: auto;
}
.last-grid{
    margin-bottom: 10px;
}
.item1{
    grid-column: 1/10;
}
footer{
    background-color: var(--main-bg-color);
    color: white;
    height: 40px;
    font-family: 'Titillium Web', sans-serif;
}